h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.5em;
}

p, li, input, label {
  font-size: 1.4rem;
}
.no-bullets {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
    margin-left: 0;
  }
}
.inline-block {
  li {
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
  }
}
input, textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  border-color: #B7BBC0;
  color: #B7BBC0;
}
textarea {
  min-height: 15rem;
}
label {
  font-weight: bold;
  input[type='checkbox'] {
    width: auto;
    margin-left: 1rem;
  }
}
button {
  outline: none;
  border-radius: 0;
  border: 1px solid #B7BBC0;
  color: #B7BBC0;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  background: #fff;
  transition: .3s linear;
  &:hover {
    background: #000;
    color: #fff;
  }
}
.text-right {
  text-align: right;
}