@import 'base/normalize.scss';
@import 'base/typography';

body, html, #root {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvectica', sans-serif;
}
.view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  height: 50px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
main {
  height: calc(100% - 90px);
  display: flex;
  align-items: stretch;
  > div {
    padding: 20px;
    height: 100%;
    border-right: 1px solid #ccc;
    &:last-child {
      border: none;
    }
  }
}
.left-sidebar {
  width: 200px;
  box-sizing: border-box;
}
.main-area {
  width: calc(100% - 650px);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.right-sidebar {
  background: #FAFAFA;
  width: 450px;
  box-sizing: border-box;
}

//Nav
@import 'components/Nav';

//LeftSidebar
@import 'components/VacationInfo';

//Main Area
@import 'components/Date';
@import 'components/Month';

//RightSidebar
@import 'components/RequestTime';